.container {
  display: flex;
  gap: 10px;
  padding: 20px;
  border: 2px solid black;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}