.box {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}