body {
  font-family: Arial, sans-serif;
}

.box {
  width: 600px;
  height: 250px;
  margin: 40px auto;
  padding: 20px;
  color: white;
  font-size: 24px;

  background-image: url("https://picsum.photos/1000/600");
  background-size: cover;      /* try: contain */
  background-repeat: no-repeat;/* try: repeat, repeat-x, repeat-y */
  background-position: center;

  border-radius: 12px;
}