.container {
  position: relative;
  height: 250px;
}

.box {
  position: absolute;
  width: 180px;
  height: 120px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.red {
  background: red;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.blue {
  background: blue;
  top: 70px;
  left: 90px;
  z-index: 2;
}

.green {
  background: green;
  top: 100px;
  left: 140px;
  z-index: 3;
}