.container {
  display: flex;
  flex-wrap: wrap; /* try: nowrap */
  gap: 10px;
  border: 2px solid black;
  padding: 10px;
  width: 350px;
}

.item {
  border: 2px solid black;
  height: 70px;
  flex-grow: 1;   /* try: 0, 2 */
  min-width: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}